.App {
  text-align: center;
  margin: 0px;
  padding: 0px;
}

img {
  width: 50%;
}

.optimized-background {
  width: 500px;
  height: 500px;
  border: solid gray 1px;
  background-repeat: no-repeat;
  object-fit: cover;
}

.webp .optimized-background {
  background-image: url("./img/flowers-by-the-lake.webp");
}

.no-webp .optimized-background {
  background-image: url("./img/flowers-by-the-lake.jpg");
}
